body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/1599d7107019725.5f9d3c7bae636.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 45px;
}
.box h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"], .box input[type = "password"] {
border: 0;
background:  none;
display: block;
margin: 20px auto ;
text-align: center;
border: 2px solid #66ff01;
padding: 14px 10px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus {
width: 280px;
border-color: #8400ff;

}
.box input[type = "ToWebsite"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align:center;
border: 2px solid #7f5ab9;
padding: 14px 10px;
width: 110px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "sign up"]
{
border: 0; background: none;
display: block;
margin: 20px auto;
text-align:center;
border: 2px solid #ff7b00;
padding: 14px 10px;
width: 60px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;



}.box input[type = "text"], .box input[type = "Confirm Password"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #66ff01;
padding: 14px 10px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;}

.box input[type = "text"]:focus,.box input[type = "Confirm Password"]:focus {
width: 280px;
border-color: #8400ff;
}

.box input[type = "regist"]
{
border: 0; 
background: none;
display: block;
margin: 20px auto;
text-align:center;
border: 2px solid #fd7200;
padding: 14px 10px;
width: 60px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "Login"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border: 2px solid #6708ff;
    padding: 14px 10px;
    width: 110px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;}
    
    